<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload a Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1 class="reviewtitle">Upload a Review</h1>
    <form class="reviewform" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}

        <button class="buttonsubmit">Submit New Review</button>
    </form>
</body>
</html>